

head {
    background-color: #49274a;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

body {
    background-color: #94618e;
    min-height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside {
    background-coler: #49274a;
}

footer {
    background-color: #49274a;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

form{
    top: 20px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
     position: absolute;
     top: 20px;
     left: 2%;
     display: flex;
     justify-content: center;
 }


.HomeButtons{
    position: absolute;
    top: 20px;
    left: 12%;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #4CAF50; /* Green */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    padding: 10px 36px;
    margin-left: 20px;
}

.button2 {
    padding: 10px 36px;
}

.button3 {
    padding: 10px 36px;
}

.button4 {
    padding: 10px 36px;
}

.button5 {
    padding: 10px 36px;
}

.button6 {
    padding: 10px 36px;
}

.button7 {
    padding: 10px 36px;
}

.button8 {
    padding: 10px 36px;
}